<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.app.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.WelcomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.activities.ChooseCountry"
            android:label="@string/select_country"
            android:parentActivityName="com.app.activities.MainActivity" 
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.app.activities.CompareCountries"
            android:label="@string/title_activity_compare_countries"
            android:parentActivityName="com.app.activities.MainActivity"
            android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CountryDetails"
            android:parentActivityName="com.app.activities.ChooseCountry" >            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.activities.ChooseCountry" />
        </activity>
        <activity
                android:name=".activities.IndicatorDetails"
                android:theme="@style/Theme.Transparent"
                android:parentActivityName="com.app.activities.DisplayActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.app.activities.DisplayActivity" />
        </activity>
    </application>

</manifest>
